
.container{
    display: grid;
    grid-template-columns: 25% 75%;
}
.container__item{
  text-align: center;
  padding: 20px 20px 20px 20px;
}
.item--white{
  color:#333333;
  background-color: aliceblue;
}
.item--dark{
  color:white;
  background-color: #333333;
}
.img-perfil{
  border-radius: 10px;
  width: 170px;
  height: 170px;
}
.title-perfil--primary{
  font-family: 'Bungee', cursive;
}
.title-perfil--secondary{
  font-family: sans-serif;
}
.line-break{
  margin-bottom: 20px;
  width: 50%;
}
.profile--description {
  font-family: 'Quicksand', sans-serif;
}
.profile--contact{
  font-family: 'Quicksand', sans-serif;
}
.profile--skils{
 font-family: 'Quicksand', sans-serif;
}
.profile--skils .itens{
  margin-bottom: 10px;
  margin-top: 10px;
}

.progressbar {
  border: 2px solid white;
  background-color: #333333;
  padding: 3px;
}

.progressbar>div {
  background-color: white;
  height: 20px;
}
.progressbar--html{
  width: 80%;
}
.progressbar--css{
  width: 70%;
}
.progressbar--javascript{
  width: 73%;
}
.progressbar--node{
  width: 60%;
}
.progressbar--php{
  width: 60%;
}
