#print::before{
  content: "Print Out";
}
#title_developer::before{
   content: 'WEB DEVELOPER';
}
#profile::before{
  content: 'PROFILE';
}
#profile_description::before{
  content: "I'm a 22-year-old web developer from Rio Grande Do Sul, involved in web development since 2014. ";
}
#skills::before{
  content: "SKILLS";
}
#contact::before{
  content: "CONTACT";
}
#work_experience::before{
  content: "WORK EXPERIENCE";
}
#facilconsulta_title::before{
  content: "Junior Web Developer - Facil Consulta (2018-2018)";
}
#facilconsulta::before{
  content: "Responsible for bug fixes, system optimization and design improvements with the team.";
}
#embrapaLab::before{
 content:"I joined the team in creating new tools for researchers and producers in the region to use.\A In our new API in development, I created the environment for testing it.A great challenge was to deal with the legacy systems of more than ten years, totally monolithic, so I used best practices to encapsulate everything possible in functions, I used design patterns like builder to dismember large functions in small functions.";
 white-space: pre-wrap;
}  
.achievements::before{
  content: "Achievements";
}
