#header {
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: linear-gradient(to right top, #1047b5, #1c3688, #1c275d, #161836, #070513); }

#perfil-img {
  width: 160px;
  border-radius: 50%; }

.header-name {
  margin-top: 3%;
  font-weight: bold; }

.header-about {
  text-shadow: 1px 1px black;
  margin-top: 3%; }

.clouds {
  margin-top: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0); }

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1; }

.cloud.front {
  z-index: 9; }

.cloud.distant {
  z-index: 1; }

.cloud.background {
  z-index: 1; }

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px; }

.cloud.small {
  margin-right: 200px;
  width: 150px; }

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px; }

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px; }

/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;
  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s; }

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s; }

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s; }

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s; }

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s; }

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px); }
  10% {
    opacity: 0.7; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px); } }
#education {
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: radial-gradient(circle, #ffffff, #fbfbfc, #f7f6f9, #f3f2f7, #efeef4); }

.education-img {
  width: 90px;
  border-radius: 20%;
  margin-top: 10px; }

.block {
  margin-top: 3%;
  -webkit-box-shadow: -3px 2px 72px -25px rgba(23, 21, 23, 0.64);
  -moz-box-shadow: -3px 2px 72px -25px rgba(23, 21, 23, 0.64);
  box-shadow: -3px 2px 72px -25px rgba(23, 21, 23, 0.64); }

.education-title {
  margin-top: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  border-bottom: 2px solid #121555;
  padding-bottom: 4px;
  font-style: normal;
  font-variant: normal;
  text-transform: none; }

.education-subtitle {
  margin-top: 2%; }

#skills {
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: linear-gradient(to right top, #051937, #002265, #002993, #0029c1, #121aeb); }

.skills-title {
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  border-bottom: 2px solid #a8929c;
  padding-bottom: 4px;
  font-style: normal;
  font-variant: normal;
  text-transform: none; }

.skills-icons {
  margin-left: 2%;
  margin-right: 2%;
  color: white; }

/*# sourceMappingURL=style.css.map */
