#projects{
   background-image: linear-gradient(to right top, #ffffff, #eeeff0, #dcdfdf, #cccfcd, #bebfbb);
}
.projects-title{
  margin-top: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  border-bottom: 2px solid rgb(18, 21, 85);
  padding-bottom: 4px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.block-project{
  margin-top: 3%;
  -webkit-box-shadow: -3px 2px 72px -25px rgba(23,21,23,0.64);
  -moz-box-shadow: -3px 2px 72px -25px rgba(23,21,23,0.64);
  box-shadow: -3px 2px 72px -25px rgba(23,21,23,0.64);
}
.title-project{
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(to right top, #0d0b1e, #0b081b, #080519, #050316, #020013);
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.img-project{
  width: 400px;
  height: 300px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-project-about{
  bottom: 50%;
  color: white;
  font-size:20px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  opacity: 0;
}
.block-project-image{
  background-color: black;
}
.block-project-image:hover .img-project-about{
  opacity: 1;
}
.block-project-image:hover .img-project{
  opacity: .1;

}
