#skills{
  padding-top: 3%;
  padding-bottom:3%;
  background-image: linear-gradient(to right top, #051937, #002265, #002993, #0029c1, #121aeb);
}
.skills-title{
  color:white;
  margin-top: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  border-bottom: 2px solid rgb(168, 146, 156);
  padding-bottom: 4px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
